<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="navbar-brand" href="">
                <img src="assets/img/circle.jpg" class="me-3" alt="" >
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" routerLinkActive ="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/play" routerLinkActive="active">Play</a>
                    </li>
                </ul>
                <ul class="navbar-nav" *ngIf="(accountService.user$ | async) === null">
                    <li class="nav-item" >
                        <a class="btn btn-secondary mx-2" routerLink="/account/register" routerLinkActive="active" >
                            Create account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary" routerLink="/account/login" routerLinkActive="active">
                            Login
                        </a>
                    </li>
                </ul>
                <div>
                    <ul class="navbar-nav" *ngIf="(accountService.user$ | async) as user">
                        <li class="nav-item">
                            <span class="navbar-text text-white mx-2">Hello, {{user.firstName}}</span>
                        </li>
                        <a class="nav-item">
                            <a class="btn btn-secondary" >Logout</a>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>